<div class="grid p-fluid">
    <div class="col-12">
        <div class="card">
            <ng-container *ngIf="$loading">
                <p-skeleton height="5rem" styleClass="mb-2" />
                <p-skeleton styleClass="mb-2" />
                <p-skeleton height="5rem" styleClass="mb-2" />
                <div class="flex justify-content-evenly mt-3">
                    <p-skeleton styleClass="mb-2" width="15rem" height="2rem"/>
                    <p-skeleton styleClass="mb-2" width="15rem" height="2rem"/> 
                </div>
            </ng-container>
            
            <ng-container *ngIf="!$loading">
                <div class="flex align-items-center justify-content-center">
                    <div class="col-12">
                        <form [formGroup]="$form" (submit)="$submit()">
                            <div class="p-fluid p-formgrid grid">
                                <div class="field col-12 md:col-6">
                                    <label>bemor</label>
                                    <p-dropdown 
                                        [options]="patinet" 
                                        optionLabel="fullname" 
                                        optionValue="id"
                                        formControlName="patient_id" 
                                        [filter]="true"
                                        [showClear]="false"
                                    ></p-dropdown>
                                </div>
                                <div class="field col-12 md:col-6">
                                    <label>qabul vaqti</label>
                                    <p-calendar 
                                        type="date" 
                                        dateFormat="dd.mm.yy"
                                        formControlName="date"
                                        [showIcon]="true" 
                                    />
                                </div>
                                <div class="field col-12 md:col-3">
                                    <label>holati</label>
                                    <p-dropdown [options]="transactionStatusData"
                                        formControlName="status"
                                        [showClear]="false"
                                        optionLabel="label" 
                                        optionValue="value"
                                    ></p-dropdown>
                                </div>
                                <div class="field col-12 md:col-3">
                                    <label>chegirma</label>
                                    <p-inputNumber 
                                        formControlName="discount" 
                                        mode="decimal" 
                                        suffix=" %"
                                        [showButtons]="true" 
                                        [min]="0" [max]="100"
                                        [step]="5" 
                                        [useGrouping]="false"
                                        (ngModelChange)="calculateTotalDiscount($event)"
                                    >
                                    </p-inputNumber>
                                </div>
                                <div class="field col-12 md:col-3">
                                    <label>to'lov usuli</label>
                                    <p-dropdown [options]="paymentProviderData"
                                        formControlName="provider"
                                        [showClear]="false"
                                        optionLabel="label" 
                                        optionValue="value"
                                    ></p-dropdown>
                                </div>
                                <div class="field col-12 md:col-3">
                                    <label>narxi</label>
                                    <p-inputNumber 
                                        formControlName="price" 
                                        mode="currency"
                                        currency="UZS" 
                                        locale="de-DE"
                                        [showButtons]="true" 
                                        [min]="0" [max]="20000000"
                                        [step]="5000" 
                                        [useGrouping]="true"
                                    >
                                    </p-inputNumber>
                                </div>
                                
                                <div class="field flex align-items-center col-12 md:col-6">
                                    <div>
                                        <label>xizmatlar:</label>
                                        <p *ngFor="let item of appointmentServices">{{item.service.name}} - {{item.price}} so'm</p>
                                    </div>
                                </div>

                                <div class="field flex align-items-center col-12 md:col-6">
                                    <p>({{ totalPrice }} so'm) x ({{totalDiscount}}%) = {{(totalPrice * (1 - totalDiscount/100)).toFixed(2)}} so'm</p>
                                </div>
                                
                            </div>
                            <div class="mt-5 flex gap-3">
                                <button type="button" pButton [label]="'qaytish'" class="text-center p-button-secondary" (click)="$back()"></button>
                                <button pButton [label]="$id ? 'o\'zgartirish' : 'qo\'shish'" class="text-center" [disabled]="$disableBtn"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>