<p-fileUpload name="file" customUpload="true" (uploadHandler)="onUpload($event, 'image')" (onSelect)="onSelect($event)"
    accept="image/*" [maxFileSize]="5*1024*1024" chooseLabel="Rasm tanlang" uploadLabel="Yuklash"
    cancelLabel="Bekor qilish">
</p-fileUpload>

<p-fileUpload name="file" customUpload="true" (uploadHandler)="onUpload($event, 'document')"
    (onSelect)="onSelect($event)" accept=".pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx" [maxFileSize]="15*1024*1024"
    chooseLabel="Hujjat tanlang" uploadLabel="Yuklash" cancelLabel="Bekor qilish">
</p-fileUpload>

<p-fileUpload name="file" customUpload="true" (uploadHandler)="onUpload($event, 'video')" (onSelect)="onSelect($event)"
    accept="video/*" [maxFileSize]="200*1024*1024" chooseLabel="Video tanlang" uploadLabel="Yuklash"
    cancelLabel="Bekor qilish">
</p-fileUpload>

<ul>
    <li *ngFor="let file of uploadedFiles">
        <div *ngFor="let file of uploadedFiles">
            <img *ngIf="file.url.endsWith('.jpg') || file.url.endsWith('.jpeg') || file.url.endsWith('.png') || file.url.endsWith('.gif')"
                [src]="file.url" alt="Uploaded Image" style="width: 200px; height: auto;">
            <video *ngIf="file.url.endsWith('.mp4') || file.url.endsWith('.webm') || file.url.endsWith('.ogg')"
                [src]="file.url" controls style="width: 400px; height: auto;">
            </video>
            <iframe *ngIf="file.url.endsWith('.pdf')" [src]="file.url" style="width: 100%; height: 500px;"
                frameborder="0">
            </iframe>
        </div>
    </li>
</ul>