<div class="grid p-fluid">
    <div class="col-12">
        <div class="card">
            <ng-container *ngIf="$loading">
                <p-skeleton height="5rem" styleClass="mb-2" />
                <p-skeleton styleClass="mb-2" />
                <p-skeleton height="5rem" styleClass="mb-2" />
                <div class="flex justify-content-evenly mt-3">
                    <p-skeleton styleClass="mb-2" width="15rem" height="2rem"/>
                    <p-skeleton styleClass="mb-2" width="15rem" height="2rem"/> 
                </div>
            </ng-container>
            
            <ng-container *ngIf="!$loading">
                <div class="flex align-items-center justify-content-center">
                    <div class="col-12 md:col-8">
                        <form [formGroup]="$form" (submit)="$submit()">
                            <div class="p-fluid p-formgrid grid">
                                <div class="field col-12">
                                    <label for="name">sarlavhasi</label>
                                    <input formControlName="title" id="name" pInputText type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                </div>
                                <div class="field col-12 md:col-6">
                                    <label>sanasi</label>
                                    <p-calendar type="date" dateFormat="dd.mm.yy" formControlName="date"
                                        [showIcon]="true"/>
                                </div>
                                <div class="field col-12 md:col-6">
                                    <label>holati</label>
                                    <p-dropdown 
                                        [options]="is_public" 
                                        formControlName="is_public" 
                                        [showClear]="true"
                                        optionValue="value"
                                    ></p-dropdown>
                                </div>
                                <div class="field col-12">
                                    <label for="">maqolasi</label>
                                    <div>
                                        <p-editor formControlName="descr"/>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5 flex gap-3">
                                <button type="button" pButton [label]="'qaytish'" class="text-center p-button-secondary" (click)="$back()"></button>
                                <button pButton [label]="$id ? 'o\'zgartirish' : 'qo\'shish'" class="text-center" [disabled]="$disableBtn"></button>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 md:col-4">
                        <div class="card flex justify-content-center align-items-center flex-column">
                            <p-image 
                                [src]="imageSrc" 
                                [previewImageSrc]="imageSrc" 
                                alt="Image" 
                                width="250" 
                                [preview]="true" />

                            <div class="flex gap-3">
                                <p-fileUpload 
                                    #fileInput
                                    mode="basic" 
                                    name="demo[]" 
                                    chooseIcon="pi pi-upload" 
                                    accept="image/*" [maxFileSize]="3 * 1024 * 1024" 
                                    [auto]="true" 
                                    chooseLabel="yuklash" 
                                    (uploadHandler)="onUpload($event, 'image', fileInput)"
                                    customUpload="true"
                                    [disabled]="is_uploaded"
                                />

                                <button 
                                    pButton 
                                    icon="pi pi-trash" 
                                    class="p-button-danger"
                                    [disabled]="!is_uploaded"
                                    (click)="clearImage()"
                                >o'chirish</button>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>