<div class="grid" *ngIf="page_type == 'appointment'">
    <div class="col-12">
        <div class="card">
            <h5>Qabullar ro'yhati</h5>
            <p-table #dt1 [value]="$data | async" dataKey="id" [rows]="10" [loading]="$loading | async" [rowHover]="true"
                styleClass="p-datatable-gridlines" [paginator]="true"
                [globalFilterFields]="['fullname','mobile','email']" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter (input)="$onGlobalFilter(dt1, $event)"
                                placeholder="izlash ..." class="w-full" />
                        </span>
                        <button *ngxPermissionsOnly="['super']" (click)="showUpdateModal()" pButton pRipple type="button" icon="pi pi-plus-circle" class="p-button-info"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Ism familiyasi
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                qabul sanasi
                            </div>
                        </th>
                        <!-- <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                mobile raqami
                            </div>
                        </th> -->
                        <th style="min-width: 15rem">
                            <div class="flex justify-content-between align-items-center">
                                xizmatlar
                            </div>
                        </th>
                        <th style="min-width: 15rem">
                            <div class="flex justify-content-between align-items-center">
                                narxi
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                to'langan
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                xizmat holati
                            </div>
                        </th>
                        <!-- <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                holati
                            </div>
                        </th> -->
                        <!-- <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                o'zgartirilgan
                            </div>
                        </th> -->
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                boshqarish
                            </div>
                        </th>
                    </tr>
                </ng-template>
                
                <ng-template pTemplate="body" let-data_item>
                    <tr>
                        <td>
                            {{data_item.patient.fullname}}
                        </td>
                        <td>
                            {{data_item.date | date : 'dd.MM.yyyy'}}
                        </td>
                        <!-- <td>
                            {{data_item.patient.phone}}
                        </td> -->
                        <td>
                            <p *ngFor="let item of data_item.services">- {{item.service.name}} - {{item.price}} so'm</p>
                        </td>
                        <td>
                            <p> 
                                {{ data_item.price / (1 - data_item.discount/100)}} x {{data_item.discount}}% = {{data_item.price}} so'm
                            </p>
                        </td>
                        <td>
                            <p *ngIf="!data_item?.transactions[0]">{{data_item.price}} so'm - hali to'lanmagan</p>
                            <p *ngFor="let item of data_item?.transactions">
                                {{item.price}} so'm  - <span [class]="'customer-badge status-qualified'">{{paymentProviderData[item.provider]}}</span> - <span [class]="'customer-badge status-qualified'">{{transactionStatusData[item.status]}}</span>
                            </p>
                        </td>
                        <td>
                            <span [class]="'customer-badge status-qualified'">{{appointmentStatusData[data_item.status]}}</span>
                        </td>
                        <td class="table-action">
                            <span class="p-buttonset">
                                <ng-container *ngxPermissionsOnly="['super']">
                                    <button *ngIf="(data_item.state == 1) && (!data_item.is_pay) && isPageType('transaction')" (click)="showPaymentModal(data_item.id)" pButton icon="pi pi-wallet" class="p-button-warning"></button>
                                </ng-container>
                                <ng-container *ngxPermissionsOnly="['super']">
                                    <button *ngIf="(data_item.state == 1) && (!data_item.is_pay) && isPageType('transaction')" (click)="showPaymentModal(data_item.id)" pButton icon="pi pi-pencil" class="p-button-warning"></button>
                                </ng-container>
                                <ng-container *ngxPermissionsOnly="['super']">
                                    <button *ngIf="data_item.state == 1 && !isPageType('transaction')" (click)="showUpdateModal(data_item.id)" pButton icon="pi pi-pencil" class="p-button-info"></button>
                                </ng-container>
                                <ng-container *ngxPermissionsOnly="['super']">
                                    <button *ngIf="data_item.state == 1  && !isPageType('transaction')" (click)="$delete(data_item.id)" pButton icon="pi pi-trash" class="p-button-danger"></button>
                                </ng-container>
                                <ng-container *ngxPermissionsOnly="['super']">
                                    <button *ngIf="data_item.state == 0  && !isPageType('transaction')" (click)="$repair(data_item.id)" pButton icon="pi pi pi-refresh" class="p-button-warning"></button>
                                </ng-container>
                            </span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">Malumot yo'q</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>


<div class="card" *ngIf="page_type == 'transaction'">
    <div class="grid">
        <div class="col-12">
            <div class="card">
                <h5>Qabullar ro'yhati</h5>
                <p-table [value]="$data | async" dataKey="id" responsiveLayout="scroll">
                    <ng-template pTemplate="caption">
                        <div class="flex justify-content-between">
                            <ng-container>
                                <button (click)="$loadData()" pButton icon="pi pi-sync" class="p-button-help"></button>
                            </ng-container>
                            <ng-container *ngxPermissionsOnly="['super']">
                                <button (click)="showUpdateModal(1)" pButton icon="pi pi-plus-circle" class="p-button-primary"></button>
                            </ng-container>
                        </div>
                        <div class="flex table-header">
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th></th>
                            <th style="min-width: 12rem">
                                <div class="flex justify-content-between align-items-center">
                                    Ism familiyasi
                                </div>
                            </th>
                            <th style="min-width: 8rem">
                                <div class="flex justify-content-between align-items-center">
                                    qabul sanasi
                                </div>
                            </th>
                            <th style="min-width: 15rem">
                                <div class="flex justify-content-between align-items-center">
                                    xizmatlar
                                </div>
                            </th>
                            <th style="min-width: 15rem">
                                <div class="flex justify-content-between align-items-center">
                                    narxi
                                </div>
                            </th>
                            <th style="min-width: 10rem">
                                <div class="flex justify-content-between align-items-center">
                                    xizmat holati
                                </div>
                            </th>
                            <th style="min-width: 12rem">
                                <div class="flex justify-content-between align-items-center">
                                    boshqarish
                                </div>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data_item let-expanded="expanded">
                        <tr class="bg-blue-100">
                            <td>
                                <button type="button" pButton pRipple [pRowToggler]="data_item"
                                    class="p-button-text p-button-rounded p-button-plain"
                                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                            </td>
                            <td>
                                {{data_item.patient.fullname}}
                            </td>
                            <td>
                                {{data_item.date | date : 'dd.MM.yyyy'}}
                            </td>
                            <td>
                                <p *ngFor="let item of data_item.services">- {{item.service.name}} - {{item.price}} so'm</p>
                            </td>
                            <td>
                                <p> 
                                    {{ data_item.price / (1 - data_item.discount/100)}} x {{data_item.discount}}% = {{data_item.price}} so'm
                                </p>
                            </td>
                            <td>
                                <span [class]="'customer-badge status-qualified'">{{appointmentStatusData[data_item.status]}}</span>
                            </td>
                            <td class="table-action">
                                <span class="p-buttonset">
                                    <ng-container *ngxPermissionsOnly="['super']">
                                        <button *ngIf="(data_item.state == 1) && (!data_item.is_pay) && isPageType('transaction')" (click)="showPaymentModal(data_item.id)" pButton icon="pi pi-wallet" class="p-button-warning"></button>
                                    </ng-container>
                                    <ng-container *ngxPermissionsOnly="['super']">
                                        <button *ngIf="data_item.state == 1 && !isPageType('transaction')" (click)="showUpdateModal(data_item.id)" pButton icon="pi pi-pencil" class="p-button-info"></button>
                                    </ng-container>
                                    <ng-container *ngxPermissionsOnly="['super']">
                                        <button *ngIf="data_item.state == 1  && !isPageType('transaction')" (click)="$delete(data_item.id)" pButton icon="pi pi-trash" class="p-button-danger"></button>
                                    </ng-container>
                                    <ng-container *ngxPermissionsOnly="['super']">
                                        <button *ngIf="data_item.state == 0  && !isPageType('transaction')" (click)="$repair(data_item.id)" pButton icon="pi pi pi-refresh" class="p-button-warning"></button>
                                    </ng-container>
                                </span>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="rowexpansion" let-data_item>
                        <tr class="bg-blue-50">
                            <td colspan="7">
                                <div class="p-3">
                                    <p-table [value]="data_item.transactions" dataKey="id" responsiveLayout="scroll">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <!-- <th style="width: 3rem"></th> -->
                                                <th pSortableColumn="name">To'lov turi <p-sortIcon field="name"></p-sortIcon></th>
                                                <th pSortableColumn="price">statusi<p-sortIcon field="price"></p-sortIcon></th>
                                                <th pSortableColumn="price">narxi<p-sortIcon field="price"></p-sortIcon></th>
                                                <th pSortableColumn="category">vaqti<p-sortIcon field="category"></p-sortIcon></th>
                                                <th pSortableColumn="rating">boshqarish</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-item>
                                            <tr>
                                                <!-- <td>
                                                    <button type="button" pButton pRipple [pRowToggler]="item"
                                                        class="p-button-text p-button-rounded p-button-plain"
                                                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                                                </td> -->
                                                <td style="min-width: 12rem;">{{item.provider}}</td>
                                                <td style="min-width: 10rem;">
                                                    <span [class]="'customer-badge status-proposal mx-1'">{{item.status}}</span>
                                                </td>
                                                <td style="min-width: 12rem;">{{item.price}} so'm</td>
                                                <td style="min-width: 12rem;">{{item.created_at | date : 'dd.MM.yyyy, HH:mm'}}</td>
                                                <td class="table-action">
                                                    <span class="p-buttonset">
                                                        <ng-container *ngxPermissionsOnly="['super']">
                                                            <button (click)="showUpdateModal(2, data_item.id, item.id)" pButton icon="pi pi-pencil" class="p-button-info"></button>
                                                        </ng-container>
                                                    </span>
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage">
                                            <tr>
                                                <td colspan="6">There are no item for this data_item yet.</td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>