<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Fayllar ro'yhati</h5>
            <p-table #dt1 [value]="data | async" dataKey="id" [rows]="10" [loading]="loading | async" [rowHover]="true"
                styleClass="p-datatable-gridlines" [paginator]="true"
                [globalFilterFields]="['id','files_by','files_type']" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, event)"
                                placeholder="izlash ..." class="w-full" />
                        </span>
                        <button *ngxPermissionsOnly="['super']" (click)="showUpdateModal()" pButton pRipple type="button" icon="pi pi-plus-circle" class="p-button-info"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Fayl
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                nomi
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                turi
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                holati
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                o'zgartirilgan
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                boshqarish
                            </div>
                        </th>
                    </tr>
                </ng-template>
                
                <ng-template pTemplate="body" let-data_item>
                    <tr>
                        <td>
                            <p-image 
                                *ngIf="data_item.files_type == 'image'"
                                [src]="getView(data_item.id)" 
                                alt="Image"
                                width="250"
                                [preview]="true" 
                            />
                            <img 
                                *ngIf="data_item.files_type == 'video'"
                                [src]="'https://cdn-icons-png.flaticon.com/512/4404/4404094.png'" 
                                alt="video"
                                width="250"
                                [preview]="true" 
                            />
                            <img 
                                *ngIf="data_item.files_type == 'docs'"
                                [src]="'https://png.pngtree.com/png-vector/20190406/ourmid/pngtree-doc-file-document-icon-png-image_913809.jpg'" 
                                alt="video"
                                width="250"
                                [preview]="true" 
                            />
                            
                        </td>
                        <td>
                            <p-tag class="customer-badge"  value="{{data_item.files_by}}"/>
                        </td>
                        <td>
                            <p-tag class="customer-badge" severity="info" value="{{data_item.files_type}}"/>
                        </td>
                        <td>
                            <span [class]="'customer-badge status-' + (data_item.state == 1 ? 'qualified':'unqualified')">{{data_item.state == 1 ? 'active':"deleted"}}</span>
                        </td>
                        <td>
                            {{data_item.size}} mb
                        </td>
                        <td class="table-action">
                            <span class="p-buttonset">
                                <ng-container *ngxPermissionsOnly="['super']">
                                    <button *ngIf="data_item.state == 1" (click)="showInfoModal(data_item.id)" pButton icon="pi pi-file" class="p-button-info"></button>
                                </ng-container>
                                <ng-container *ngxPermissionsOnly="['super']">
                                    <button *ngIf="data_item.state == 1" (click)="delete(data_item.id)" pButton icon="pi pi-trash" class="p-button-danger"></button>
                                </ng-container>
                                <ng-container *ngxPermissionsOnly="['super']">
                                    <button *ngIf="data_item.state == 0" (click)="repair(data_item.id)" pButton icon="pi pi pi-refresh" class="p-button-warning"></button>
                                </ng-container>
                            </span>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">
                            Ma'lumotlar yo'q
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>


<!-- <div class="card">
    <div class="card flex flex-wrap gap-2 justify-content-center">
            <p-card *ngFor="let item of data | async" class="col-2">
                <ng-template pTemplate="header">
                    <ng-container *ngIf="item.files_type == 'image'">
                        <p-image [src]="getView(item.id)" alt="Image"
                            [preview]="true" />
                    </ng-container>
                </ng-template>

                <p>files_type: {{item.files_type}}</p>
                <p>files_by: {{item.files_by}}</p>
                <p>size: {{item.size}} mb</p>

                <div class="flex gap-3 mt-1">
                    <p-button *ngIf="item.state == 1" (click)="repair(item.id)" icon="pi pi-pencil" severity="primary" class="w-full btn-sm" styleClass="w-full" /> 
                    <p-button *ngIf="item.state == 1" (click)="delete(item.id)" icon="pi pi-trash" severity="danger" class="w-full btn-sm" styleClass="w-full" />
                    <p-button *ngIf="item.state == 0" (click)="repair(item.id)" icon="pi pi-refresh" severity="warning" class="w-full btn-sm" styleClass="w-full" /> 
                </div>
            </p-card>
    </div>
</div> -->